# Ignore these folders
minecraft/.bobby/*
minecraft/.fabric/*
minecraft/.mixin.out/*
minecraft/backup*/*
minecraft/config/*
minecraft/coremods/*
minecraft/craftpresence/*
minecraft/crash-reports/*
minecraft/data/*
minecraft/ESM/*
minecraft/fancymenu_data/*
minecraft/fancymenu_setups/*
minecraft/kubejs/exported/*
minecraft/local/*
minecraft/logs/*
minecraft/moddata/*
minecraft/mods/*
minecraft/mods*/*
minecraft/ModTranslations/*
minecraft/resourcepacks/*
# file is a symbolic link
minecraft/resourcepacks
minecraft/saves/*
minecraft/schematics/*
minecraft/screenshots/*
minecraft/server-resource-packs/*
minecraft/shaderpacks/*
minecraft/texturepacks/*
minecraft/Xaero*/*
builds/*server*.zip
natives/*
server/config/*
server/logs/*
server/mods/*

# ignore these symbolic linked folders
server/config/ftbquests
server/kubejs
server/patchouli_books

# Ignore these files
*.log
minecraft/icon.png
minecraft/keys.txt
minecraft/options.amecsapi.txt
minecraft/options.justenoughkeys.txt
minecraft/options.txt
minecraft/patchouli_data.json
minecraft/pfmUpdateInfo.json
minecraft/polymer-resourcepack.zip
minecraft/rhino.local.properties
minecraft/servers.dat
minecraft/servers.dat_old
minecraft/usercache.json
*.code-workspace
.packignore
instance.cfg
mmc-pack.json
modlist.html

# Stop ignoring these folders
# !minecraft/config/bhmenu
!minecraft/config/drippyloadingscreen/
# !minecraft/config/EssentialGUI/
!minecraft/config/fancymenu/
!minecraft/config/ftbquests/
!minecraft/config/yosbr/
# !server/config/ftbquests

# Stop ignoring these files
!minecraft/config/bcc.json
# !minecraft/config/craftpresence.properties
# !minecraft/config/xaerominimap.txt
# !minecraft/config/xaerominimap_entities.json
!server/config/bcc.json
!server/config/carrier.json
